<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/th" style="scroll-behavior: smooth;"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" th:href="@{/layout/images/iconpage.ico}">
    <link rel="stylesheet" th:href="@{/layout/stylesheets/inicial/index.css}">
    <link rel="stylesheet" th:href="@{/layout/stylesheets/geral/geral.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
   
    <title>SGVI | Perfil de usuário</title>
</head>

<body>
    <th:block  th:include="/componentes/navbar :: navbar" ></th:block>
<div class="container-fluid background">
    <div class="row">
			<div class="col-md-12">
				<div class="card" id="card-administracao-inicio">
					<div class="card-body">
						<h5 class="card-title text-center">
							Minhas compras
						</h5>
						<h6 class="card-subtitle mb-2 text-muted text-center"
							style="font-size: 16px !important;">Acompanhe suas compras por aqui!</h6>
						<hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(78, 0, 47, 0), rgba(78, 0, 47, 0.75), rgba(78, 0, 47, 0));">
						<div class="row">
							<div id="lista-ingressos-comprados" style="overflow: auto; height: 25em;" class="col-md-12">
								
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/livequery/1.1.1/jquery.livequery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/layout/javascripts/inicial/compras.js}"></script>
</body>

</html>